<h1 [title]="tooltipH1">Hello, {{ title }}</h1>
<!--<app-second [parentName]="title" (clickMe)="childCklickMe($event)"></app-second>-->

<button (click)="showAddContattoPannel()">+</button>
<div *ngIf="newContatto" class="add-contatto-panel">
    <app-contact [isViewMode]="false"  [contatto]="newContatto" (save)="saveContatto($event)"></app-contact>
</div>
<div>
    Lista Contatti: 
</div>

<app-contact [contatto]="item" *ngFor="let item of contatti" (eliminaMe)="eliminaContatto($event)"></app-contact>

<router-outlet />